setuptools==75.2.0
wheel==0.44.0
sentence-transformers==3.2.1
langchain==0.3.4
langchain-community==0.3.3
langchain-huggingface==0.1.0
huggingface-hub==0.26.1
chromadb==0.4.15
unstructured==0.6.10
gradio==5.4.0
gradio-modal==0.0.4
tinydb==4.8.0